@font-face {
  font-family: 'iconfont';
  src:  url('iconfont.eot?cvmrsq');
  src:  url('iconfont.eot?cvmrsq#iefix') format('embedded-opentype'),
    url('iconfont.ttf?cvmrsq') format('truetype'),
    url('iconfont.woff?cvmrsq') format('woff'),
    url('iconfont.svg?cvmrsq#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="el-ksd-icon-"], [class*=" el-ksd-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-ksd-icon-keyboard:before {
  content: "\e900";
}
.el-ksd-icon-discarded_22:before {
  content: "\e606";
}
.el-ksd-icon-arrow_down_with_border_22:before {
  content: "\e603";
}
.el-ksd-icon-arrow_up_with_border_22:before {
  content: "\e602";
}
.el-ksd-icon-setting_221:before {
  content: "\e601";
}
.el-ksd-icon-China:before {
  content: "\ed4c";
}
.el-ksd-icon-grab_dots_22:before {
  content: "\e7aa";
}
.el-ksd-icon-hive_old:before {
  content: "\e6e2";
}
.el-ksd-icon-run_to_here_16:before {
  content: "\e61e";
}
.el-ksd-icon-export_16:before {
  content: "\e7e3";
}
.el-ksd-icon-license_16:before {
  content: "\e7e4";
}
.el-ksd-icon-log_16:before {
  content: "\e7e5";
}
.el-ksd-icon-deltalake_16:before {
  content: "\e7e6";
}
.el-ksd-icon-insigh_16:before {
  content: "\e7e7";
}
.el-ksd-icon-help_with_border_16:before {
  content: "\e7e8";
}
.el-ksd-icon-pause_outline_16:before {
  content: "\e7e9";
}
.el-ksd-icon-minus_with_border_16:before {
  content: "\e7ea";
}
.el-ksd-icon-minus_16:before {
  content: "\e7eb";
}
.el-ksd-icon-more_16:before {
  content: "\e7ec";
}
.el-ksd-icon-nav_fold_16:before {
  content: "\e7ed";
}
.el-ksd-icon-pause_16:before {
  content: "\e7ee";
}
.el-ksd-icon-merge_16:before {
  content: "\e7f0";
}
.el-ksd-icon-nav_unfold_16:before {
  content: "\e7f1";
}
.el-ksd-icon-inport_16:before {
  content: "\e7f2";
}
.el-ksd-icon-pause_with_border_16:before {
  content: "\e7f3";
}
.el-ksd-icon-refresh_16:before {
  content: "\e7f5";
}
.el-ksd-icon-play_outline_16:before {
  content: "\e7f6";
}
.el-ksd-icon-refresh_16-1:before {
  content: "\e7f7";
}
.el-ksd-icon-full_screen_1_16:before {
  content: "\e7f8";
}
.el-ksd-icon-more_with_border_16:before {
  content: "\e7f9";
}
.el-ksd-icon-play_with_border_16:before {
  content: "\e7fa";
}
.el-ksd-icon-project_16:before {
  content: "\e7fb";
}
.el-ksd-icon-language_16:before {
  content: "\e7fc";
}
.el-ksd-icon-search_16:before {
  content: "\e7fd";
}
.el-ksd-icon-timestamp_16:before {
  content: "\e7fe";
}
.el-ksd-icon-repair_16:before {
  content: "\e7ff";
}
.el-ksd-icon-save_16:before {
  content: "\e800";
}
.el-ksd-icon-redo_16:before {
  content: "\e801";
}
.el-ksd-icon-notbook_16:before {
  content: "\e802";
}
.el-ksd-icon-stop_fill_16:before {
  content: "\e803";
}
.el-ksd-icon-system_config_16:before {
  content: "\e804";
}
.el-ksd-icon-play_fill_16:before {
  content: "\e805";
}
.el-ksd-icon-workflow_16:before {
  content: "\e806";
}
.el-ksd-icon-view_range_16:before {
  content: "\e807";
}
.el-ksd-icon-version_history_16:before {
  content: "\e808";
}
.el-ksd-icon-undo_16:before {
  content: "\e809";
}
.el-ksd-icon-a-zoom_to_default_16:before {
  content: "\e80a";
}
.el-ksd-icon-zoom_in_16:before {
  content: "\e80b";
}
.el-ksd-icon-zoom_out_16:before {
  content: "\e80c";
}
.el-ksd-icon-setting_16:before {
  content: "\e80d";
}
.el-ksd-icon-time_16:before {
  content: "\e80e";
}
.el-ksd-icon-wizard_16:before {
  content: "\e80f";
}
.el-ksd-icon-view_16:before {
  content: "\e810";
}
.el-ksd-icon-stop_with_border_16:before {
  content: "\e811";
}
.el-ksd-icon-sample_16:before {
  content: "\e812";
}
.el-ksd-icon-spark_link_16:before {
  content: "\e813";
}
.el-ksd-icon-workspace_16:before {
  content: "\e814";
}
.el-ksd-icon-arrow_right_with_border_16:before {
  content: "\e817";
}
.el-ksd-icon-arrow_up_with_border_16:before {
  content: "\e81b";
}
.el-ksd-icon-arrow_right_with_border_22:before {
  content: "\e820";
}
.el-ksd-icon-cube_16:before {
  content: "\e825";
}
.el-ksd-icon-assign_22:before {
  content: "\e826";
}
.el-ksd-icon-datatype_boolean_16:before {
  content: "\e827";
}
.el-ksd-icon-cube_22:before {
  content: "\e828";
}
.el-ksd-icon-list_16:before {
  content: "\e835";
}
.el-ksd-icon-lock_22:before {
  content: "\e836";
}
.el-ksd-icon-equal_22:before {
  content: "\e837";
}
.el-ksd-icon-mail_22:before {
  content: "\e83d";
}
.el-ksd-icon-eye_close_16:before {
  content: "\e83e";
}
.el-ksd-icon-list_22:before {
  content: "\e84b";
}
.el-ksd-icon-mail_16:before {
  content: "\e84c";
}
.el-ksd-icon-right_fill_16:before {
  content: "\e84d";
}
.el-ksd-icon-sample_221:before {
  content: "\e84e";
}
.el-ksd-icon-measure_2_22:before {
  content: "\e84f";
}
.el-ksd-icon-model_22:before {
  content: "\e851";
}
.el-ksd-icon-sample_161:before {
  content: "\e852";
}
.el-ksd-icon-right_fill_22:before {
  content: "\e85a";
}
.el-ksd-icon-sql_16:before {
  content: "\e85b";
}
.el-ksd-icon-symbol_a_22:before {
  content: "\e85c";
}
.el-ksd-icon-unlock_22:before {
  content: "\e85d";
}
.el-ksd-icon-symbol_s_22:before {
  content: "\e85e";
}
.el-ksd-icon-symbol_pk_16:before {
  content: "\e85f";
}
.el-ksd-icon-unlock_16:before {
  content: "\e860";
}
.el-ksd-icon-user_with_border_16:before {
  content: "\e862";
}
.el-ksd-icon-user_22:before {
  content: "\e863";
}
.el-ksd-icon-wrong_fill_22:before {
  content: "\e864";
}
.el-ksd-icon-user_16:before {
  content: "\e865";
}
.el-ksd-icon-wrong_fill_16:before {
  content: "\e866";
}
.el-ksd-icon-sql_22:before {
  content: "\e868";
}
.el-ksd-icon-user_with_border_22:before {
  content: "\e869";
}
.el-ksd-icon-nav_security_22:before {
  content: "\e605";
}
.el-ksd-icon-grab_dots_16:before {
  content: "\e7ef";
}
.el-ksd-icon-rollback_16:before {
  content: "\e86f";
}
.el-ksd-icon-table_delete_16:before {
  content: "\e874";
}
.el-ksd-icon-state_16:before {
  content: "\e86b";
}
.el-ksd-icon-edit_page_16:before {
  content: "\e795";
}
.el-ksd-icon-entry_16:before {
  content: "\e875";
}
.el-ksd-icon-filter_161:before {
  content: "\e796";
}
.el-ksd-icon-timestamp_161:before {
  content: "\e7c6";
}
.el-ksd-icon-filter_22:before {
  content: "\e86a";
}
.el-ksd-icon-play_all_outline_16:before {
  content: "\e877";
}
.el-ksd-icon-fast_forward_outline_16:before {
  content: "\e878";
}
.el-ksd-icon-play_all_outline_22:before {
  content: "\e879";
}
.el-ksd-icon-fast_forward_outline_22:before {
  content: "\e87a";
}
.el-ksd-icon-more_info_16:before {
  content: "\e886";
}
.el-ksd-icon-alert_1_old:before {
  content: "\e621";
}
.el-ksd-icon-add_22:before {
  content: "\e726";
}
.el-ksd-icon-a-0_placeholder_22:before {
  content: "\e740";
}
.el-ksd-icon-arrow_left_2_22:before {
  content: "\e743";
}
.el-ksd-icon-add_with_border_22:before {
  content: "\e744";
}
.el-ksd-icon-acl_data_22:before {
  content: "\e746";
}
.el-ksd-icon-arrow_left_22:before {
  content: "\e767";
}
.el-ksd-icon-arrow_left_L_22:before {
  content: "\e768";
}
.el-ksd-icon-arrow_up_2_22:before {
  content: "\e769";
}
.el-ksd-icon-arrow_right_22:before {
  content: "\e76e";
}
.el-ksd-icon-acl_user_22:before {
  content: "\e773";
}
.el-ksd-icon-arrow_down_2_22:before {
  content: "\e777";
}
.el-ksd-icon-arrow_right_2_22:before {
  content: "\e778";
}
.el-ksd-icon-build_index_22:before {
  content: "\e77a";
}
.el-ksd-icon-confirm_22:before {
  content: "\e77b";
}
.el-ksd-icon-arrow_up_22:before {
  content: "\e77c";
}
.el-ksd-icon-collapse_1_22:before {
  content: "\e77e";
}
.el-ksd-icon-close_22:before {
  content: "\e77f";
}
.el-ksd-icon-clear_22:before {
  content: "\e780";
}
.el-ksd-icon-cluster_22:before {
  content: "\e781";
}
.el-ksd-icon-code_22:before {
  content: "\e782";
}
.el-ksd-icon-controller_22:before {
  content: "\e783";
}
.el-ksd-icon-bell_22:before {
  content: "\e784";
}
.el-ksd-icon-arrow_down_22:before {
  content: "\e78a";
}
.el-ksd-icon-document_22:before {
  content: "\e78b";
}
.el-ksd-icon-datatype_meausre_22:before {
  content: "\e78c";
}
.el-ksd-icon-drop_22:before {
  content: "\e78d";
}
.el-ksd-icon-delete_22:before {
  content: "\e78e";
}
.el-ksd-icon-data_base_22:before {
  content: "\e78f";
}
.el-ksd-icon-company_22:before {
  content: "\e790";
}
.el-ksd-icon-edit_22:before {
  content: "\e791";
}
.el-ksd-icon-download_22:before {
  content: "\e792";
}
.el-ksd-icon-a-datatype_intbigint_22:before {
  content: "\e793";
}
.el-ksd-icon-diagnose_22:before {
  content: "\e794";
}
.el-ksd-icon-full_screen_1_22:before {
  content: "\e797";
}
.el-ksd-icon-folder_22:before {
  content: "\e798";
}
.el-ksd-icon-deltalake_22:before {
  content: "\e799";
}
.el-ksd-icon-dup_22:before {
  content: "\e79a";
}
.el-ksd-icon-info_border_22:before {
  content: "\e79b";
}
.el-ksd-icon-banch_22:before {
  content: "\e79c";
}
.el-ksd-icon-inport_22:before {
  content: "\e79d";
}
.el-ksd-icon-hierarchy_22:before {
  content: "\e79e";
}
.el-ksd-icon-favourite_22:before {
  content: "\e79f";
}
.el-ksd-icon-export_22:before {
  content: "\e7a0";
}
.el-ksd-icon-keychain_22:before {
  content: "\e7a1";
}
.el-ksd-icon-insigh_22:before {
  content: "\e7a2";
}
.el-ksd-icon-minus_22:before {
  content: "\e7a3";
}
.el-ksd-icon-license_22:before {
  content: "\e7a4";
}
.el-ksd-icon-language_22:before {
  content: "\e7a5";
}
.el-ksd-icon-merge_22:before {
  content: "\e7a6";
}
.el-ksd-icon-minus_with_border_22:before {
  content: "\e7a7";
}
.el-ksd-icon-log_22:before {
  content: "\e7a9";
}
.el-ksd-icon-more_22:before {
  content: "\e7ab";
}
.el-ksd-icon-notbook_22:before {
  content: "\e7ac";
}
.el-ksd-icon-nav_unfold_22:before {
  content: "\e7ad";
}
.el-ksd-icon-pause_22:before {
  content: "\e7ae";
}
.el-ksd-icon-more_with_border_22:before {
  content: "\e7af";
}
.el-ksd-icon-nav_fold_22:before {
  content: "\e7b0";
}
.el-ksd-icon-redo_22:before {
  content: "\e7b1";
}
.el-ksd-icon-pause_with_border_22:before {
  content: "\e7b2";
}
.el-ksd-icon-play_fill_22:before {
  content: "\e7b3";
}
.el-ksd-icon-play_with_border_22:before {
  content: "\e7b4";
}
.el-ksd-icon-project_22:before {
  content: "\e7b5";
}
.el-ksd-icon-help_22:before {
  content: "\e7b6";
}
.el-ksd-icon-loading_22:before {
  content: "\e7b7";
}
.el-ksd-icon-sample_22:before {
  content: "\e7b8";
}
.el-ksd-icon-pause_outline_22:before {
  content: "\e7b9";
}
.el-ksd-icon-refresh_22:before {
  content: "\e7ba";
}
.el-ksd-icon-resure_22:before {
  content: "\e7bb";
}
.el-ksd-icon-repair_22:before {
  content: "\e7bc";
}
.el-ksd-icon-play_outline_22:before {
  content: "\e7bd";
}
.el-ksd-icon-setting_22:before {
  content: "\e7be";
}
.el-ksd-icon-spark_link_22:before {
  content: "\e7bf";
}
.el-ksd-icon-search_22:before {
  content: "\e7c0";
}
.el-ksd-icon-version_history_22:before {
  content: "\e7c1";
}
.el-ksd-icon-system_config_22:before {
  content: "\e7c2";
}
.el-ksd-icon-save_22:before {
  content: "\e7c3";
}
.el-ksd-icon-view_22:before {
  content: "\e7c4";
}
.el-ksd-icon-workspace_22:before {
  content: "\e7c7";
}
.el-ksd-icon-view_range_22:before {
  content: "\e7c8";
}
.el-ksd-icon-workflow_22:before {
  content: "\e7c9";
}
.el-ksd-icon-stop_with_border_22:before {
  content: "\e7cb";
}
.el-ksd-icon-a-0_placeholder_16:before {
  content: "\e703";
}
.el-ksd-icon-add_with_border_16:before {
  content: "\e734";
}
.el-ksd-icon-arrow_left_16:before {
  content: "\e741";
}
.el-ksd-icon-add_16:before {
  content: "\e742";
}
.el-ksd-icon-arrow_down_16:before {
  content: "\e745";
}
.el-ksd-icon-acl_data_16:before {
  content: "\e747";
}
.el-ksd-icon-arrow_left_L_16:before {
  content: "\e764";
}
.el-ksd-icon-arrow_down_2_16:before {
  content: "\e765";
}
.el-ksd-icon-arrow_right_2_16:before {
  content: "\e766";
}
.el-ksd-icon-arrow_right_16:before {
  content: "\e76a";
}
.el-ksd-icon-arrow_up_2_16:before {
  content: "\e76c";
}
.el-ksd-icon-arrow_up_16:before {
  content: "\e76f";
}
.el-ksd-icon-build_index_16:before {
  content: "\e770";
}
.el-ksd-icon-bell_16:before {
  content: "\e771";
}
.el-ksd-icon-close_16:before {
  content: "\e772";
}
.el-ksd-icon-arrow_left_2_16:before {
  content: "\e774";
}
.el-ksd-icon-clear_16:before {
  content: "\e775";
}
.el-ksd-icon-confirm_16:before {
  content: "\e776";
}
.el-ksd-icon-code_16:before {
  content: "\e779";
}
.el-ksd-icon-collapse_1_16:before {
  content: "\e77d";
}
.el-ksd-icon-datatype_meausre_16:before {
  content: "\e785";
}
.el-ksd-icon-a-datatype_ntbigint_16:before {
  content: "\e786";
}
.el-ksd-icon-company_16:before {
  content: "\e787";
}
.el-ksd-icon-acl_user_16:before {
  content: "\e788";
}
.el-ksd-icon-delete_16:before {
  content: "\e789";
}
.el-ksd-icon-branch_16:before {
  content: "\e7d1";
}
.el-ksd-icon-controller_16:before {
  content: "\e7d2";
}
.el-ksd-icon-data_base_16:before {
  content: "\e7d3";
}
.el-ksd-icon-cluster_16:before {
  content: "\e7d4";
}
.el-ksd-icon-dup_16:before {
  content: "\e7d5";
}
.el-ksd-icon-document_16:before {
  content: "\e7d6";
}
.el-ksd-icon-diagnose_16:before {
  content: "\e7d7";
}
.el-ksd-icon-download_16:before {
  content: "\e7d8";
}
.el-ksd-icon-filter_16:before {
  content: "\e7da";
}
.el-ksd-icon-edit_16:before {
  content: "\e7db";
}
.el-ksd-icon-folder_16:before {
  content: "\e7dc";
}
.el-ksd-icon-hierarchy_16:before {
  content: "\e7dd";
}
.el-ksd-icon-drop_16:before {
  content: "\e7de";
}
.el-ksd-icon-favourite_16:before {
  content: "\e7df";
}
.el-ksd-icon-info_border_16:before {
  content: "\e7e0";
}
.el-ksd-icon-keychain_16:before {
  content: "\e7e1";
}
.el-ksd-icon-loading_16:before {
  content: "\e7e2";
}
