
@import '../../../element-variables.scss';
$-size-base: 14px;
$page-header-height: 48px;

$findAndReplaceItem: #ffff02;
$findAndReplaceSelectedItem: #f59632;
$findAndReplaceTitleColor: #252525;
$cellTextColor: #39414D;
$cellCommentColor: #66A0A4;
$cellStringColor: #1021D5;
$cellKeywordColor: #CF2F72;
$pattern-grey-100: #A5B2C5;
$pattern-blue-100: #CEE6FD;
$pattern-blue-200: #e6f1fb;
$pattern-blue-300: #3991e1;
$pattern-blue-400: #2492F7;
$pattern-blue-500: #0875DA;
$pattern-blue-600: #0867BF;
$pattern-blue-700: #0659A7;
$pattern-purple-400: #A261E3;
$pattern-purple-500: #8B3ADC;
$pattern-purple-600: #6F22BD;
$pattern-orange-500: #FE9412;
$pattern-orange-600: #FE9412;
$pattern-orange-700: #EC8600;
$pattern-green-100: #EFF9EB;
$pattern-green-500: #66C942;
$pattern-green-600: #4DBA2F;
$pattern-green-700: #49A82B;
$pattern-pink-500: #DC3A72;
$pattern-pink-600: #BD2257;
$pattern-pink-700: #8E1941;
$--background-color-secondary: #F8F9FB;
$--background-color-hover: #ECF0F8;
$--color-nav: #08457D !default;
$--border-update-schedule: #E6EBF4;
